body{
    background: url("image2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 0%;
    margin: 0%;
}
nav{
    background-color: #000000;
   height: 110px;
   margin-right: 53px;
   margin-top: 53px;
   margin-left: 53px;
   display: flex; 
    align-items: center;
}
nav a{
    color: white;
    text-decoration: none;
    margin-right: 40px;
    font-size: 16px;
}
nav a:hover{
    color: bisque;
}
#logo{
    margin-right:510px;
    margin-left: 120px;
    font-size:45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#welcome p{
    font-size: 16px;
}
#welcome{
    background-color: #000000;
    margin-left:53px;
    height: 400px;
    width: 260px;
    color: white;
    text-align: center;
    padding: 55px 40px 40px 40px;

    
}
button {
    background-color: black;
    color: white;
    margin-top: 35px;
    padding: 5px;
    font-size: small;
    border: 1px solid white; 
    border-radius: 0px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: white;
    color: black;
    border-color: black; 
  }
  footer{
    margin-top: 300px;
    margin-left:53px ;
    margin-right:53px;
    background-color: #000000;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    color: white;
    background-color: #000;
    color: white;
   
    text-align: center;
  }
 

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.footer-item {
    flex: 1;
    min-width: 200px;
    text-align: center;
    margin: 10px 0;
}

.footer-item h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-item a {
    color: white;
    font-size: 20px;
    margin: 0 10px;
    transition: color 0.3s;
}

.footer-item a:hover {
    color: gray;
}
.footer-bottom{
    color: white;
    margin-bottom: 2px;

}